* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 1153px;
}

[hidden] {
  display: none;
}

.buttonIcon {
  vertical-align: -.22em;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.lf20 {
  margin-left: 20px !important;
}

.lf10 {
  margin-left: 10px;
}

.lf5 {
  margin-left: 5px;
}

.lf15 {
  margin-left: 15px;
}

.line5 {
  height: 5px;
}

.line10 {
  height: 10px;
}

.line20 {
  height: 20px;
}

.required {
  text-align: right;
  position: relative;
}

.required::before {
  content: '*';
  display: inline-block;
  color: red;

}

.rightLebal {
  line-height: 3.4em;
  display: block;
  text-align: right;
}

.wd100 {
  width: 100%;
}

.tableHeaderBg {
  background-color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.olme .el-form-item {
  margin-bottom: 5px !important;
}

/* 图标 */
.iconCommon {
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: -0.1em;
  margin-right: 4px;
}

.iconDelete {
  background: url('../images/icons/delete.png') no-repeat center;
  background-size: 100% 100%;
}

.iconEdit {
  background: url('../images/icons/edit.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDownload {
  background: url('../images/icons/download.png') no-repeat center;
  background-size: 100% 100%;
}

.iconPublish {
  background: url('../images/icons/pulish.png') no-repeat center;
  background-size: 100% 100%;
}

.iconUndercarriage {
  background: url('../images/icons/undercarriage.png') no-repeat center;
  background-size: 100% 100%;
}

.iconAdd {
  background: url('../images/icons/add.png') no-repeat center;
  background-size: 100% 100%;
}

.iconEye {
  background: url('../images/icons/eye.png') no-repeat center;
  background-size: 100% 100%;
}

.iconSave {
  background: url('../images/icons/save.png') no-repeat center;
  background-size: 100% 100%;
}

.iconBuilding {
  background: url('../images/icons/building.png') no-repeat center;
  background-size: 100% 100%;
}

.iconSet {
  background: url('../images/icons/set.png') no-repeat center;
  background-size: 100% 100%;
}

.iconLine {
  background: url('../images/icons/line.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDraw {
  background: url('../images/icons/draw.png') no-repeat center;
  background-size: 100% 100%;
}

.iconSelectElement {
  background: url('../images/icons/selectElement.png') no-repeat center;
  background-size: 100% 100%;
}

.iconIconMgr {
  background: url('../images/icons/iconMgr.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDrawElement {
  background: url('../images/icons/drawElement.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDrawRect {
  background: url('../images/icons/drawRect.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDrawRectActive {
  background: url('../images/icons/drawRectActive.png') no-repeat center;
  background-size: 100% 100%;
}


.iconDrawPie {
  background: url('../images/icons/drawPie.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDrawPieActive {
  background: url('../images/icons/drawPieActive.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDrawPolygon {
  background: url('../images/icons/drawPolygon.png') no-repeat center;
  background-size: 100% 100%;
}

.iconDrawPolygonActive {
  background: url('../images/icons/drawPolygonActive.png') no-repeat center;
  background-size: 100% 100%;
}

.iconBlackBuild {
  background: url('../images/icons/blackBuild.png') no-repeat center;
  background-size: 100% 100%;
}

.route {
  background: url('../images/icons/route.png') no-repeat center;
  background-size: 100% 100%;
}

.routeActive {
  background: url('../images/icons/routeActive.png') no-repeat center;
  background-size: 100% 100%;
}

.verticalFloor {
  background: url('../images/icons/verticalFloor.png') no-repeat center;
  background-size: 100% 100%;
}

.verticalFloorActive {
  background: url('../images/icons/verticalFloorActive.png') no-repeat center;
  background-size: 100% 100%;
}

.holdFloor {
  background: url('../images/icons/holdFloor.png') no-repeat center;
  background-size: 100% 100%;
}

.holdFloorActive {
  background: url('../images/icons/holdFloorActive.png') no-repeat center;
  background-size: 100% 100%;
}

.commonFloor {
  background: url('../images/icons/floor.png') no-repeat center;
  background-size: 100% 100%;
}

.floorActive {
  background: url('../images/icons/floorActive.png') no-repeat center;
  background-size: 100% 100%;
}

.adjust {
  background: url('../images/icons/adjust.png') no-repeat center;
  background-size: 100% 100%;
}

.complete {
  background: url('../images/icons/complete.png') no-repeat center;
  background-size: 100% 100%;
}

.uncomplete {
  background: url('../images/icons/uncomplete.png') no-repeat center;
  background-size: 100% 100%;
}

.themeIcon {
  background: url('../images/icons/theme.png') no-repeat center;
  background-size: 100% 100%;
}

.propotyIcon {
  background: url('../images/icons/propoty.png') no-repeat center;
  background-size: 100% 100%;
}

.historybackIcon {
  background: url('../images/icons/historyback.png') no-repeat center;
  background-size: 100% 100%;
}
.historybackWhiteIcon {
  background: url('../images/icons/historybackWhite.png') no-repeat center;
  background-size: 100% 100%;
}
img{
  background: url("../images/common/loading.gif") no-repeat center;
  
}






.el-message {
  z-index: 5030 !important;
}

.el-message-box__wrapper {
  z-index: 5030 !important;
}

.tableCon .ivu-table-wrapper {
  overflow: unset !important;
}

.floorSelect input {
  border: 0 !important;
  outline: 0 !important;
}

.floorSelect .el-icon-arrow-up:before {
  content: '';
  background: url('../images/icons/threeArrow.png') no-repeat center;
  background-size: 100% 100%;
  display: inline-block;
  height: 5px;
  width: 10px;
}

.floorSelect .el-select__caret {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editElementStyle .ivu-table th {
  background-color: white !important;
}

.editElementStyle .ivu-table th .ivu-checkbox {
  display: none;
}

.taskDown .el-collapse-item__header {
  background: #f0f4f7;
  padding: 0 0 0 20px;
}

.taskDown .el-card {
  border: 0 !important;
}

.taskDown .el-card__header {
  margin: 0 20px;
  padding: 12px 0px;
}

.taskDown .el-card__body {
  padding: 10px 20px;
}

.taskDown .el-collapse-item__content {
  padding-bottom: 0 !important;
}

.pageCon {
  text-align: right;
}

.ivu-table th {
  background-color: #dcdcdc !important;
}

.cursor {
  cursor: pointer;
}

.styleHandler .el-color-picker__trigger {
  width: 130px;
}

.inputPointer input {
  cursor: pointer !important;
}
.historyBack{height:25px;width:25px;vertical-align: -0.36em;margin-right:10px;cursor: pointer;}