.tableCon {
  padding: 20px;
}

.area {
  display: flex;
  justify-content: space-between;
}

.areaSelect {
  width: 120px;
}

.handler {
  display: block;
  min-height: 50px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSelect {
  width: 10%;
}

.leftInput {
  width: 13%;
  min-width: 120px;
}

.right {
  margin-right: 20px;
  white-space: nowrap;
}

.left {
  white-space: nowrap;
}

.areaSelect {
  width: 90px;
  margin-left: 10px;
}

.buttonHover {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 0px !important;
}

.buttonHover:hover {
  background: white;
}