.colorOutline {
  height: 30px;
  width: 70px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-sizing: border-box;
}

.colorOutline>div {
  height: 20px;
  width: 60px;
  box-sizing: border-box;
}

.floorWord {
  font-size: 14px;
}

.floorSelect {
  width: 76px;
  border: 0;
}

.iconSize {
  width: 12px;
  height: 12px;
  vertical-align: -.18em;
}

.drawRectWH {
  width: 30px;
  height: 30px;
  display: block;
}

.blackGd {
  background: #00a6fb;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  padding: 10px;
}

.leftHandlerCon {
  margin-right: 10px;
  width: 330px;
  border-radius: 5px;
  box-shadow: -2px 0px 10px 1px rgba(106, 112, 105, 0.2), 0px -2px 10px 1px rgba(106, 112, 105, 0.2), 2px 0px 10px 1px rgba(106, 112, 105, 0.2), 0px 2px 10px 1px rgba(106, 112, 105, 0.2);
}

.rightHandlerCon {
  flex: 1;
  overflow: auto;
  position: relative;
}

.noUnderPaint {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: 16px;

}

.handlerFor {
  display: block;
  min-height: 50px;
  padding: 10px 10px;
  background: #00a6fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:5px;
}

.titleName {
  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.handlerButton {
  background: #3486ce;
  background-color: #3486ce;
}

.handlerButton:hover {
  background: #3486ce;
  background-color: #3486ce;
}

.handlerButton:focus {
  background: #3486ce;
  background-color: #3486ce;
}

.searchInput {
  width: 200px;
}

.tabCon {
  display: flex;
  background: #00a6fb;
  height: 80px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabCon .tabItem:first-child {
  border-top-left-radius: 5px;
}

.tabCon .tabItem:last-child {
  border-top-right-radius: 5px;
}

.tabItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.bigSize {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.tabItemActive {
  background: #3486ce;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 20px 0 20px;
  background: #f0f4f7;
  font-size: 16px;
  font-weight: bolder;
  color: #081e33;
  cursor: pointer;
}

.formTable {
  width: 100%;
}

.formTable td {
  padding: 4px;
}

.formTable tr td:first-child {
  text-align: right;
}

.colorWidth .el-color-picker__trigger {
  width: 80px;
}


.iconMgrCon {
  overflow: hidden;
  padding: 10px;
}

.iconMgrItem {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastIconMgrItem {
  background: #00a6fb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconMgrWord {
  border-top: 1px solid #e7e7e7;
  text-align: center;
  margin: 0 10px 10px 10px;
  padding-top: 10px;
}

.zoomSelect {
  margin-left: 30px;
  width: 250px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  box-shadow: 2px 2px 10px #c7c5c5;
  border-radius: 5px;
  cursor: pointer;
}

.mapFooterHandler {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}

.vline {
  display: inline-block;
  height: 18px;
  border-left: 1px solid #e6e6e6;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.leftInputWid {
  width: 150px;
}

.iconMgrItemHover:hover {
  border-color: hsl(210, 100%, 63%);
  border-width: 2px;
}

.iconMgrItemActive {
  border-color: hsl(210, 100%, 63%);
  border-width: 2px;
}

.app {
  background: hsl(0, 0%, 97%)
}
